[package]
name = "components"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
gpui.workspace = true
gpui-component = "0.4.0-preview0"
designsystem.workspace = true
smallvec = "1.13"
